{% trans_default_domain "app" %}


{% macro login(variables) %}
    <div class="login">
        <div class="login-content">
            <img class="logo" src="dist/assets/img/logo.png" height="96" alt="logo">
            {% if variables.error %}
                <div class="login-error">{{ variables.error.messageKey|trans(variables.error.messageData, 'security') }}</div>
            {% endif %}
            <form class="js--login-form" action="{{ path('login') }}" method="post">
                {#<input type="hidden" name="_target_path" value="/overview" />#}
                <input class="input-user" type="text" id="user" name="_username"
                       placeholder="{% trans %}app.label.username{% endtrans %}" value="{{ variables.last_username }}">
                <input class="input-password" type="password" id="pass" name="_password"
                       placeholder="{% trans %}app.label.password{% endtrans %}" value="">
                {#<input type="checkbox" id="remember_me" name="_remember_me" checked />#}
                {#<label for="remember_me">Keep me logged in</label>#}
                <button type="submit">{% trans %}app.button.login{% endtrans %}</button>
            </form>
        </div>
    </div>
{% endmacro login %}


{% macro appheader(variables) %}
    <div class="ios-header ios-header-brand">
        <div class="ios-header-name">{% trans %}app.title{% endtrans %}</div>
    </div>
{% endmacro appheader %}


{% macro start(variables) %}
    <div class="dashboard">
        <div class="dashboard-display">
            <div class="dashboard-hero">
                <h1 class="dashboard-hero-balance">
                    <span data-count="{{ variables.iBalance|number_format(2, '.', '') }}" id="balance">0</span>
                    <span class="dashboard-hero-currency">{% trans %}app.currency{% endtrans %}</span>
                </h1>
                <div class="dashboard-hero-date">
                    <div>
                        <span class="dashboard-hero-month">{{ ('app.label.month.' ~ variables.iMonth)|trans }}</span>
                        <span class="dashboard-hero-year">{{ variables.iYear }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-log _scroll">
            <table style="width: 100%">
                {% for oLog in variables.oLogs %}
                    <tr>
                        <td>
                            <div class="template-sprite template-sprite-circle template-sprite-{{ oLog.code }}"></div>
                        </td>
                        <td>
                            <div style="font-weight: bold;">{{ ('app.label.log.code.' ~ oLog.code)|trans }}</div>
                            <small>{{ oLog.description }}</small>
                        </td>
                        <td style="text-align: right; white-space: nowrap">
                            {{ oLog.sum|number_format(variables.aNumberFormat.decimal, variables.aNumberFormat.decimal_point, variables.aNumberFormat.thousand_sep) }}{% trans %}
                            app.currency{% endtrans %}
                        </td>
                        <td>
                            {% if oLog.type == 1 %}<span style="color:green;">&uarr;</span>{% endif %}
                            {% if oLog.type == 0 %}<span style="color:orangered;">&darr;</span>{% endif %}
                            {% if oLog.type == -1 %}<span style="color:darkgray;">&darr;</span>{% endif %}
                            {% if oLog.type == -2 %}<span style="color:green;">&uarr;</span>{% endif %}
                        </td>
                        <td><a href="{{ oLog.link }}" class="btn-edit js-open-ajaxmodal"><i class="dot"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endmacro start %}


{% macro calendar(variables) %}
    <div id="ajax-header">
        {% trans %}app.label.calendar{% endtrans %}
    </div>
    <div id="ajax-content">
        <div class="calender _scroll">
            {% for iYear, aMonths in variables.aYears %}
                <h2 class="modal-headline">{{ iYear }}</h2>
                <ul class="ios-list">

                    {% for iMonth in aMonths %}
                        <li class="ios-text-link">
                            <a class="js-calender-link"
                               href="./start?year={{ iYear }}&month={{ iMonth }}">{{ ('app.label.month.' ~ iMonth)|trans }}</a>
                        </li>
                    {% endfor %}

                </ul>
            {% endfor %}
        </div>
        <script>calender.init();</script>
    </div>
{% endmacro calendar %}


{% macro statistic(variables) %}
    <div id="ajax-header">
        {% trans %}app.label.statistic{% endtrans %}
    </div>
    <div id="ajax-content">
        <div class="_scroll">
            {% for iYear, aMonths in variables.aStatistics %}
                <h2>
                    {{ iYear }}<br>
                </h2>
                <p class="average">
                    <strong>{% trans %}app.label.statistic.average_fix{% endtrans %}</strong> {{ aMonths.info.average_fix|number_format(variables.aNumberFormat.decimal, variables.aNumberFormat.decimal_point, variables.aNumberFormat.thousand_sep) }}{% trans %}app.currency{% endtrans %} |
                    <strong>{% trans %}app.label.statistic.average_normal{% endtrans %}</strong> {{ aMonths.info.average_normal|number_format(variables.aNumberFormat.decimal, variables.aNumberFormat.decimal_point, variables.aNumberFormat.thousand_sep) }}{% trans %}app.currency{% endtrans %} |
                    <strong>{% trans %}app.label.statistic.average_fuel{% endtrans %}</strong> {{ aMonths.info.average_fuel|number_format(variables.aNumberFormat.decimal, variables.aNumberFormat.decimal_point, variables.aNumberFormat.thousand_sep) }}{% trans %}app.currency{% endtrans %}
                </p>
                <div id="chart{{ iYear }}" style="height:400px;">
                    <svg></svg>
                </div>

                <script type="text/javascript">
                    var charData{{ iYear }} = [
                        {
                            "key": "{% trans %}app.label.statistic.fix{% endtrans %}",
                            "nonStackable": false,
                            "values": [
                                {% for iMonth, aMonth in aMonths %}
                                {% for sKey, iSum in aMonth %}
                                {% if sKey == 'fix' %}
                                {
                                    "x": {{ iMonth }},
                                    "y": {{ iSum }},
                                    "series": 0,
                                    "key": "fix"
                                },
                                {% endif %}
                                {% endfor %}
                                {% endfor %}
                            ]
                        },
                        {
                            "key": "{% trans %}app.label.statistic.normal{% endtrans %}",
                            "nonStackable": false,
                            "values": [
                                {% for iMonth, aMonth in aMonths %}
                                {% for sKey, iSum in aMonth %}
                                {% if sKey == 'normal' %}
                                {
                                    "x": {{ iMonth }},
                                    "y": {{ iSum }},
                                    "series": 0,
                                    "key": "normal"
                                },
                                {% endif %}
                                {% endfor %}
                                {% endfor %}
                            ]
                        },
                        {
                            "key": "{% trans %}app.label.statistic.fuel{% endtrans %}",
                            "nonStackable": false,
                            "values": [
                                {% for iMonth, aMonth in aMonths %}
                                {% for sKey, iSum in aMonth %}
                                {% if sKey == 'fuel' %}
                                {
                                    "x": {{ iMonth }},
                                    "y": {{ iSum }},
                                    "series": 0,
                                    "key": "fuel"
                                },
                                {% endif %}
                                {% endfor %}
                                {% endfor %}
                            ],
                        }
                    ];
                    nv.addGraph({
                        generate: function () {
                            var width = nv.utils.windowSize().width,
                                height = '400';

                            var chart = nv.models.multiBarChart()
                                    .width(width)
                                    .height(height)
                                    .stacked(true)
                                    .showXAxis(true)
                                    .showYAxis(true)
                                //                        .xDomain(['Jan', 'Feb', 'Mär', 'Apr', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dez']);
                            ;

                            chart.dispatch.on('renderEnd', function () {
                                console.log('Render Complete');
                            });

                            //                    chart.barColor(["#FF0000","#00FF00","#0000FF"]);

                            var svg = d3.select('#chart{{ iYear }} svg').datum(charData{{ iYear }});
                            console.log('calling chart');
                            svg.transition().duration(0).call(chart);

                            nv.utils.windowResize(function () {
                                chart.update();
                                //                        drawLimit(chart, svg, limits);
                            });

                            return chart;
                        },
                        callback: function (graph) {
                            nv.utils.windowResize(function () {
                                var width = nv.utils.windowSize().width;
                                var height = nv.utils.windowSize().height;
                                graph.width(width).height(height);

                                d3.select('#chart{{ iYear }} svg')
                                    .attr('width', width)
                                    .attr('height', height)
                                    .transition().duration(0)
                                    .call(graph);

                            });
                        }
                    });
                </script>
            {% endfor %}
        </div>
    </div>
{% endmacro statistic %}


{% macro edit(variables) %}
    <div id="ajax-header">
        {% trans %}app.label.edit{% endtrans %}
    </div>
    <div id="ajax-content">
        <form class="js--post-form" action="./save" method="post">
            <input type="hidden" name="delete" value="0">
            <div class="_scroll">
                <h2 class="modal-headline">{{ ('app.label.log.code.' ~ variables.aParams.sCode)|trans }}
                    <small>({{ variables.aParams.sCreatestamp|date("d-m-Y H:m:i") }})</small>
                </h2>
                <ul class="ios-list">
                    {% for sParam, sValue in variables.aParams %}
                        {% if sParam != 'sUser' and sParam != 'sTimestamp' and sParam != 'iType' %}
                            {% if sParam == 'iID' or sParam == 'sCode' %}
                                <input id="edit{{ sParam }}" name="{{ sParam }}" type="hidden" value="{{ sValue }}">
                            {% else %}
                                <li class="ios-text-input {% if sParam == 'sSum' %}ios-text-input-brand{% endif %}">
                                    <input required="required" id="edit{{ sParam }}" name="{{ sParam }}"
                                           type="{% if sParam == 'sCreatestamp' %}datetime-local{% else %}text{% endif %}"
                                           value="{{ sValue }}">
                                    <span for="edit{{ sParam }}">
                                        {% if sParam == 'sSum' %}
                                            {% trans %}app.label.sum{% endtrans %}{% trans %}app.currency{% endtrans %}
                                        {% elseif sParam == 'sDescription' %}
                                            {% trans %}app.label.description{% endtrans %}
                                        {% elseif sParam == 'sCreatestamp' %}
                                            &nbsp;
                                        {% endif %}
                                    </span>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
                <ul class="ios-list">
                    <li>
                        <div class="delete-button-box">
                            <button class="delete-button js--delete-entry">
                                {% trans %}app.button.delete{% endtrans %}
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </form>
        <script>postLog.init()</script>
    </div>
{% endmacro edit %}


{% macro new(variables) %}
    <div id="ajax-header">
        {% trans %}app.label.newLog{% endtrans %}
    </div>
    <div id="ajax-content">
        <form class="js--post-form" action="./save" method="post">
            <input type="hidden" id="saveNew" name="saveNew" value="1">
            <input type="hidden" id="logImage" name="sCode">
            <input class="js--log-segmented-control" id="type-01" data-segmented-control="1" value="0" type="radio"
                   checked name="iType">
            <input class="js--log-segmented-control" id="type-02" data-segmented-control="2" value="1" type="radio"
                   name="iType">
            <div class="ios-segmented-controls">
                <label for="type-01">{% trans %}app.button.expend{% endtrans %}</label>
                <label for="type-02">{% trans %}app.button.income{% endtrans %}</label>
            </div>
            <div class="_scroll" data-segmented-parent>
                <ul class="ios-list">
                    <li class="ios-padding ios-padding-bottom">
                        <div class="horizontal-radio _scroll-full" data-segmented-content="1">
                            {% for iKey, aTemplate in variables.oPublicExpendTemplates %}
                                <div class="radio">
                                    <input id="name{{ iKey }}0" type="radio" class="js--template-name" name="sCode"
                                           data-image="{{ aTemplate.code }}" value="{{ aTemplate.code }}">
                                    <label for="name{{ iKey }}0">
                                        <div class="template-sprite template-sprite-circle template-sprite-{{ aTemplate.code }}"></div>
                                        <span>{{ ('app.label.log.code.' ~ aTemplate.code)|trans }}</span>
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="horizontal-radio _scroll-full" data-segmented-content="2">
                            {% for iKey, aTemplate in variables.oPublicIncomeTemplates %}
                                <div class="radio">
                                    <input id="name{{ iKey }}1" type="radio" class="js--template-name" name="sCode"
                                           data-image="{{ aTemplate.code }}" value="{{ aTemplate.code }}">
                                    <label for="name{{ iKey }}1">
                                        <div class="template-sprite template-sprite-circle template-sprite-{{ aTemplate.code }}"></div>
                                        <span>{{ ('app.label.log.code.' ~ aTemplate.code)|trans }}</span>
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </li>
                </ul>
                <ul class="ios-list">
                    <li class="ios-text-input">
                        <input id="log-description" required="required" type="text" name="sDescription">
                        <span>{% trans %}app.label.description{% endtrans %}</span>
                    </li>
                    <li class="ios-text-input ios-text-input-brand">
                        <input id="log-sum" type="text" required="required" name="sSum">
                        <span>{% trans %}app.label.sum{% endtrans %}{% trans %}app.currency{% endtrans %}</span>
                    </li>
                    <li class="ios-text-input">
                        <input id="log-createstamp" type="datetime-local" required="required" name="sCreatestamp"
                               value="{{ variables.sDateTime }}">
                        <span>&nbsp;</span>
                    </li>
                    <li style="display: none; visibility: hidden;">
                        <button type="submit">Submit</button>
                    </li>
                </ul>
            </div>
        </form>
        <script>postLog.init()</script>
    </div>
{% endmacro new %}


{% macro newfix(variables) %}
    <div id="ajax-header">
        {% trans %}app.label.newFixLog{% endtrans %}
    </div>
    <div id="ajax-content">
        <form class="js--post-form" action="./savefix" method="post">
            <input type="hidden" id="saveNew" name="saveNew" value="1">
            <input type="hidden" id="logImage" name="sCode">
            <input class="js--log-segmented-control" id="type-01" data-segmented-control="1" value="-1" type="radio"
                   checked name="iType">
            <input class="js--log-segmented-control" id="type-02" data-segmented-control="2" value="-2" type="radio"
                   name="iType">
            <div class="ios-segmented-controls">
                <label for="type-01">{% trans %}app.button.fixexpend{% endtrans %}</label>
                <label for="type-02">{% trans %}app.button.fixincome{% endtrans %}</label>
            </div>
            <div class="_scroll" data-segmented-parent>
                <ul class="ios-list">
                    <li class="ios-padding ios-padding-bottom">
                        <div class="horizontal-radio _scroll-full" data-segmented-content="1">
                            {% for iKey, aTemplate in variables.oPublicExpendTemplates %}
                                <div class="radio">
                                    <input id="name{{ iKey }}0" type="radio" class="js--template-name" name="sCode"
                                           data-image="{{ aTemplate.code }}" value="{{ aTemplate.code }}">
                                    <label for="name{{ iKey }}0">
                                        <div class="template-sprite template-sprite-circle template-sprite-{{ aTemplate.code }}"></div>
                                        <span>{{ ('app.label.log.code.' ~ aTemplate.code)|trans }}</span>
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="horizontal-radio _scroll-full" data-segmented-content="2">
                            {% for iKey, aTemplate in variables.oPublicIncomeTemplates %}
                                <div class="radio">
                                    <input id="name{{ iKey }}1" type="radio" class="js--template-name" name="sCode"
                                           data-image="{{ aTemplate.code }}" value="{{ aTemplate.code }}">
                                    <label for="name{{ iKey }}1">
                                        <div class="template-sprite template-sprite-circle template-sprite-{{ aTemplate.code }}"></div>
                                        <span>{{ ('app.label.log.code.' ~ aTemplate.code)|trans }}</span>
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </li>
                </ul>
                <ul class="ios-list">
                    <li class="ios-text-input">
                        <input id="log-description" required="required" type="text" name="sDescription">
                        <span>{% trans %}app.label.description{% endtrans %}</span>
                    </li>
                    <li class="ios-text-input ios-text-input-brand">
                        <input id="log-sum" type="text" required="required" name="sSum">
                        <span>{% trans %}app.label.sum{% endtrans %}{% trans %}app.currency{% endtrans %}</span>
                    </li>
                </ul>

                <h4>{% trans %}app.label.existingFixLogs{% endtrans %} ({% trans %}app.button.income{% endtrans %}
                    / {% trans %}app.button.expend{% endtrans %})</h4>
                <ul class="ios-list horizontal-radio">
                    {% for iKey, aTemplate in variables.oUserFixIncomeTemplates %}
                        <li class="radio">
                            <a href="{{ aTemplate.link }}" class="js-open-ajaxmodal">
                                <div class="template-sprite template-sprite-circle template-sprite-{{ aTemplate.code }}"></div>
                                <span>{{ ('app.label.log.code.' ~ aTemplate.code)|trans }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <ul class="ios-list horizontal-radio">
                    {% for iKey, aTemplate in variables.oUserFixExpendTemplates %}
                        <li class="radio">
                            <a href="{{ aTemplate.link }}" class="js-open-ajaxmodal">
                                <div class="template-sprite template-sprite-circle template-sprite-{{ aTemplate.code }}"></div>
                                <span>{{ ('app.label.log.code.' ~ aTemplate.code)|trans }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </form>
        <script>postLog.init()</script>
    </div>
{% endmacro newfix %}


{% macro user(variables) %}
    <h1>Userpage</h1>
    <div>
        <a class="ion-btn js-open-ajaxmodal" href="./newfix"
           title="{% trans %}app.label.newFixLog{% endtrans %}">
            {% trans %}app.label.newFixLog{% endtrans %}
        </a>
    </div>
    <div>
        <a href="./logout" class="ion-btn js--ajax" title="Logout '{{ variables.app.user.username }}'">
            LOGOUT
        </a>
    </div>
{% endmacro user %}


{% macro modal(variables) %}
    <div class="modal">
        <div class="modal-view">
            <div class="ios-header ios-header-brand">
                <button class="ion-btn js-close-ajaxmodal pull-left">
                    <i class="ion-ios-close-empty"></i>
                </button>
                <div id="modal-header" class="ios-header-name"></div>
                <button class="ion-btn pull-right js--submit-modal-form" style="display: none;">
                    <span class="ion-text">{% trans %}app.button.save{% endtrans %}</span>
                </button>
            </div>
            <div class="modal-content">
                <div class="loading"><i></i><span>{% trans %}app.label.loading{% endtrans %}</span></div>
            </div>
        </div>
    </div>
{% endmacro modal %}


{% macro navigation(variables) %}
    <div class="view-navigation">
        <ul class="view-navigation-list">
            <li class="view-navigation-list-item">
                {#<a href="./start" class="ion-btn js--ajax" title="Logout '{{ variables.app.user.username }}'">#}
                {#<i class="ion ion-ios-home-outline"></i>#}
                {#</a>#}
                <span data-set-view="start" class="ion-btn">
                    <i class="ion ion-ios-home-outline"></i>
                    <i class="ion ion-ios-home"></i>
                </span>
            </li>
            <li class="view-navigation-list-item">
                {#<a href="./calendar" class="ion-btn js-open-ajaxmodal">#}
                {#<i class="ion ion-ios-calendar-outline"></i>#}
                {#</a>#}
                <span data-set-view="calendar" class="ion-btn">
                    <i class="ion ion-ios-calendar-outline"></i>
                    <i class="ion ion-ios-calendar"></i>
                </span>
            </li>
            <li class="view-navigation-list-item">
                <a class="ion-btn js-open-ajaxmodal" href="./new?yearmonth={{ variables.sYearMonth }}"
                   title="{% trans %}app.label.newLog{% endtrans %}">
                    <i class="ion ion-ios-plus-outline"></i>
                </a>
            </li>
            <li class="view-navigation-list-item">
                <span data-set-view="statistic" class="ion-btn">
                    <i class="ion-ios-pulse"></i>
                    <i class="ion-ios-pulse-strong"></i>
                </span>
            </li>
            <li class="view-navigation-list-item">
                <span data-set-view="user" class="ion-btn">
                    <i class="ion-ios-person-outline"></i>
                    <i class="ion-ios-person"></i>
                </span>
            </li>
        </ul>
    </div>
{% endmacro navigation %}